/* google font cdn link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles  */
body {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border: 0;
  padding: 19px 34px;
  color: #fff;
  font-size: 1rem;
  margin-top: 41px;
  margin-right: 5px;
  font-weight: 600;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.banner-btn-container > .btn-secondary {
  background: #4ec5f7;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

/* header nav styles start here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  padding: 38px 0;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-container {
  display: flex;
}
.nav-logo-container img {
  width: 50%;
  object-fit: contain;
  margin-right: 20px;
}
.nav-title {
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
}
.nav-title > span {
  color: #ff42a5;
}
.nav-items-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.nav-items-container a {
  text-decoration: none;
  color: #3c354f;
  margin-left: 32px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}
.nav-items-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
  padding: 17px 24px;
}
.youtube-icon {
  margin-left: 12px;
  color: #f61c0d;
}
.tiktok-icon {
  margin-left: 10px;
}
/* header nav styles end here */

/* banner section styles start here  */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.banner-content {
  width: 50%;
  margin: 148px 0;
}
.banner-goat {
  font-size: 6rem;
  font-weight: 800;
}
.banner-description p {
  margin: 24px 0 17px 0;
}
.banner-description-icon {
  margin-right: 10px;
}
.banner-description p > .play-icon {
  color: #ff42a5;
}
.banner-description p > .download-icon {
  color: #ff42a5;
}
.banner-description p > .user {
  margin-left: -2px;
}
#user {
  margin-left: -2px;
}
.banner-img-content {
  width: 50%;
}
/* banner section styles end here  */

/* funny videos section starts here */
.videos-cards-container {
  max-width: 1400px;
  margin: 120px auto;
}
.videos-cards-details {
  text-align: center;
}
.card-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.card-title-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.card-title-description {
  margin-top: 10px;
  margin-bottom: 48px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.cards-container div p {
  margin-top: 20px;
}
/* funny videos section starts here */
