/* google font cdn link  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared styles  */
body {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border: 0;
  padding: 19px 34px;
  color: #fff;
  font-size: 20px;
  margin-top: 41px;
  margin-right: 5px;
  font-weight: 600;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.banner-content > .btn-secondary {
  background: #4ec5f7;
}

/* header nav styles start here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  padding: 38px 0;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-title-color {
  color: #ff42a5;
}
.nav-logo-container img {
  width: 50%;
  object-fit: contain;
  margin-right: 20px;
}
.nav-items-container {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-items-container a {
  text-decoration: none;
  color: #3c354f;
  margin-left: 32px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}
.nav-items-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
  padding: 17px 24px;
}
.youtube-icon {
  margin-left: 12px;
  color: #f61c0d;
}
.youtube-icon:hover {
  transform: scale(0.8);
}
.tiktok-icon {
  margin-left: 10px;
}

/* banner section styles start here  */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.banner-content {
  width: 50%;
  margin: 148px 0;
}
.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}
.banner-goat {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content > p .banner-description-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}
.banner-content > p .play-icon,
.download-icon {
  color: #ff42a5;
}
/* .banner-content > p  {
  color: #ff42a5;
} */
.banner-content > p .user {
  margin-left: -2px;
}
#user {
  margin-left: -5px;
}
.banner-img-content {
  width: 50%;
}
.banner-img-content img {
  width: 100%;
}
/* banner section styles end here  */

/* funny videos section starts here */
.videos-cards-container {
  max-width: 1400px;
  margin: 120px auto;
}
.videos-cards-details {
  text-align: center;
}
.card-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.card-title-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-title-description {
  margin-top: 10px;
  margin-bottom: 48px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
.cards-container div p {
  margin-top: 20px;
}
.cards {
  display: grid;
}
.cards {
  position: relative;
}

.cards-play-btn {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../images/Rectangle 7.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 44vh;
  width: 100%;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-play-btn {
  position: relative;
}
.watch {
  position: absolute;
  top: 210px;
  left: 105px;
  color: #ff42a5;
}
.play-btn > i {
  font-size: 44px;
  color: white;
}
/* funny videos section ends here */

/* play instantly section starts here   */
.play-instantly-container {
  max-width: 1400px;
  margin: 120px auto;
}
.play-instantly-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.play-instantly-details {
  text-align: end;
}
.play-instantly-title {
  font-size: 3rem;
  font-weight: 700;
}
.play-instant-title-color {
  color: #ff42a5;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-instantly-description {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 24px;
}
.play-instantly-img-container {
  display: flex;
  justify-content: end;
}
.play-instantly-img-container {
  object-fit: cover;
  position: relative;
}
.play-instantly-img-container img {
  width: 100%;
}
.img {
  position: absolute;
  bottom: -70px;
  left: -70px;
}
.img img {
  width: 50%;
}
/* play instantly section starts here   */

/* games button section starts here  */
.games-btn-container {
  max-width: 1400px;
  margin: 120px auto;
}
.games-btn-content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 120px auto;
  gap: 30px;
}

.games-btn {
  border-radius: 50px;
  padding: 5px 15px;
}
.games-btn:hover {
  color: #ff42a5;
  outline: 1px solid #ff42a5;
}
.games {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* margin-top: auto 0; */
}
.games img {
  object-fit: cover;
  width: 50px;
}
/* games button section ends here  */

/* footer container  */
.footer-container {
  background-color: #0b0223;
  height: 636px;
}
.footer-logo-container {
  width: 900px;
  height: 636px;
  margin: auto;
  padding: 180px 0;
}
.footer {
  margin-bottom: 35px;
}
.footers {
  margin-bottom: 23px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container img {
  margin-right: 10px;
}
.footer-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.footer-title-color {
  color: #ff42a5;
}
.footer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.footer-details,
.logo-container > p {
  color: white;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-social a {
  color: white;
}
.footer-social i {
  font-size: 2rem;
}
.footer-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
}
.footer-years {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
