@media screen and (max-width: 576px) {
  nav,
  .nav-logo-container,
  .nav-items-container {
    flex-direction: column;
  }
  .nav-logo-container {
    flex-direction: row;
    justify-content: center;
  }
  .nav-logo-container img {
    width: 100%;
  }
  .nav-items-container {
    margin: 42px auto 0 auto;
  }
  .nav-items-container a {
    margin: 18px 0;
  }
  .nav-items-container .nav-items-btn {
    margin-top: 40px;
    width: 100%;
  }
}
