@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  .nav-container,
  .nav-logo-container,
  .nav-items-container {
    flex-direction: column;
  }
  .nav-logo-container {
    flex-direction: row;
    justify-content: center;
  }
  .nav-logo-container img {
    width: 27%;
  }
  .nav-items-container {
    margin: 42px auto 0 auto;
  }
  .nav-items-container a {
    margin: 18px 0;
  }
  .nav-items-container .nav-items-btn {
    margin-top: 40px;
    font-size: 0.9rem;
  }
  .banner-container {
    flex-direction: column-reverse;
    padding: 0 25px;
  }
  .banner-content {
    width: 50%;
    margin: 80px auto;
    width: max-content;
    text-align: center;
  }
  .banner-img-content,
  .banner-img-content img {
    width: 100%;
    object-fit: cover;
  }
  .banner-title {
    white-space: nowrap;
    font-size: 1.8rem;
  }
  .banner-goat {
    font-size: 3.8rem;
    margin: 0 auto;
  }
  .banner-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn-primary {
    padding: 13px 25px;
    font-size: 0.7rem;
    margin-top: 15px;
  }
  .banner-description {
    text-align: start;
  }
}
